{% extends "base.html" %}
{% block title %}Sagar Sharma - Blog Posts{% endblock %}
{% block content %}
    <section class="blog-posts">
        <article class="blog-post">
            <h2>Latest Blog Post Title</h2>
            <div class="post-meta">January 15, 2025</div>
            <p>This is a sample blog post excerpt. Click to read more about interesting topics in technology and software development.</p>
            <a href="#" class="read-more">Read More</a>
        </article>

        <article class="blog-post">
            <h2>Another Blog Post</h2>
            <div class="post-meta">January 10, 2025</div>
            <p>Another sample blog post excerpt. Sharing thoughts about software engineering and tech innovations.</p>
            <a href="#" class="read-more">Read More</a>
        </article>
    </section>
{% endblock %}