{% extends "base.html" %}
{% block title %}Sagar Sharma - About{% endblock %}
{% block content %}
    <section class="profile">
        <ul class="bullet-list">
            <li>I am currently working as a Senior Software Engineer at Ascent Wellness Pvt. Ltd. 🚀</li>
            <li>My key skill sets are :
                <ul>
                    <li><b>Programming Language →</b> Python</li>
                    <li><b>Framework →</b> Django, Flask, DRF</li>
                    <li><b>Database: →</b> Mysql, Postgresql, Mongodb</li>
                    <li><b>Deployment →</b> Docker, AWS EC2, S3 </li>
                    <li><b>Tools →</b> Git, Github, Postman, Chatgpt</li>
                    <li><b>Libraries →</b> Pandas, Numpy, Logging</li>
                    <li><b>OS →</b> Windows, Linux</li>
                </ul>
            </li>
            <li>I am interested to explore and learn new things</li>
            <li>Looking for Al/Ml opportunities</li>
            <li>Love Listening the songs, Big fan of KK </li>
            <li>You can chit-chat with me on <a href="tel:+918108464645">+91 8108464645</a></li>
        </ul>

        <section class="socials">
            <h2>socials</h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/sagarsharma123">Linkedin</a></li>
                <li><a href="https://github.com/ersagarsharma123">Github</a></li>
                <li><a href="mailto:er.sagarsharma123@gmail.com">er.sagarsharma123@gmail.com</a></li>
            </ul>
        </section>
    </section>
{% endblock %}